{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/formCalendar.css">
{% endblock %}

{% block body %}
    <h1>Edit event</h1>

    {{ include('calendar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('calendar_index') }}"><button class="btnBack">back to list</button></a>

    {# {{ include('calendar/_delete_form.html.twig') }} #}
{% endblock %}
