{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/teamNew.css">
{% endblock %}

{% block body %}
    <h1>Select your players</h1> 

    <a href="{{ path('team') }}"><button class="btnBack">Back to list</button></a>

    {{ include('team/_form.html.twig') }}

{% endblock %}