{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" 
    integrity="sha256-16PDMvytZTH9heHu9KBPjzrFTaoner60bnABykjNiM0=" crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}


{% block body %}
    <div class="boutonsRdv">
        <a href="{{ path('calendar_index') }}"><button class="btn">See all the meetings</button></a>
        <a href="{{ path('calendar_new') }}"><button class="btn">Add a meet</button></a>
    </div>
    <div id="calendrier">
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js" 
    integrity="sha256-XOMgUu4lWKSn8CFoJoBoGd9Q/OET+xrfGYSo+AKpFhE=" crossorigin="anonymous"></script>

    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{data|raw}},
                editable: true,
                eventResizableFromStart: true
            })

            calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`
                let donnees = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "backgroundColor": e.event.backgroundColor,
                    "textColor": e.event.textColor,
                    "start": e.event.start,
                    "end": e.event.end
                }

                let xhr = new XMLHttpRequest

                xhr.open("PUT", url)
                xhr.send(JSON.stringify(donnees))
            })

            calendar.render()
        }
    </script>

{% endblock %}

