{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/formJoueur.css">
{% endblock %}

{% block body %}
    <h1>Edit the player</h1>

    {{ include('joueur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('joueur_index') }}"><button class="btnBack">back to list</button></a>

{% endblock %}
