h1 {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white;
    width: 200px;
    height: 30px;
    border: 1px solid var(--main-blue);
    margin-top: 30px;
    margin-left: 5%;
}

.btn:hover {
    background-color: var(--main-blue);
    color: white
}

.container {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--main-blue);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.titreIndex {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid var(--main-blue);
    font-weight: bold;
    color: var(--main-blue);
}

.action {
    width: 10%;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    gap: 10%;
    display: flex;
    align-items: center;
}

.btnDelete {
    background-color: white;
    border: none;
}

.title {
    width: 20%;
    display: flex;
    align-items: center;
}

.start {
    width: 20%;
    display: flex;
    align-items: center;
}

.end {
    width: 20%;
    display: flex;
    align-items: center;
}

.description {
    width: 50%;
    display: flex;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--main-blue);
}

.lienEdit {
    color: black;
    text-decoration: none;
}
